<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMddHHmmss"/>
    <!-- <shutdownHook /> -->
    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}\logs\${applicationName}${bySecond}.log</file>
        <append>false</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%10.10logger] %5level: %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    -->
    <appender name="HTML" class="ch.qos.logback.core.FileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="com.winning.logback.Utf8HTMLLayout">
                <pattern>%relative%level%logger%msg</pattern>
            </layout>
        </encoder>
        <file>${user.dir}\logs\${applicationName}.html</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%20.20logger] %5level: %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="HTML" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>